---
---

/* Override default Sass variables before importing the theme */
// Headers
$header-heading-color: #fff !default; /* New heading color */
$header-bg-color: #EB5D48 !default;
$header-bg-color-secondary: #EB5D48 !default;

// Text
$section-headings-color: #EB5D48 !default; /* New heading color */
$body-text-color: #000000 !default; /* Black text color */
$body-link-color: #11A9E2 !default; /* Custom link color */
$blockquote-text-color: #EB5D48 !default; /* New blockquote text color */

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

/* Import the Cayman theme styles */
@import "{{ site.theme }}";